.view {
	width: 100vw;
	flex-grow: 1;
	padding: 48px 18px 16px;
	background-color: $grey_200;
	
	&._no-padding {
		padding: 0;
		padding-bottom: 16px;
	}
	
	&._small-content {
		display: flex;
		flex-direction: column;
		height: 100vh;
		
		.inner-view {
			flex-grow: 1;
		}
	}
}

.inner-view {
	padding: 48px 18px 0;
}

.card {
	padding: 16px 12px;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid $grey_100;
	
	&._big {
		padding: 24px;
	}
}

@media (min-width: $desktop) {
	.view {
		width: $mobile;
	}
}
