.view {
	width: 100vw;
	padding: 48px 18px 0;
	background-color: $grey_200;
}

.card {
	padding: 16px 12px;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid $grey_100;
	
	&._big {
		padding: 24px;
	}
}

@media (min-width: $tablet) {
	.view {
		max-width: $tablet;
  }
}

@media (min-width: $desktop) {
	.view {
		width: $mobile;
	}
}
