.view {
	min-width: $mobile;
	padding: 48px 18px 0;
	background-color: $grey_100;
}

@media (min-width: $tablet) {
	.view {
		max-width: $tablet;
  }
}

@media (min-width: $desktop) {
	.view {
		width: $mobile;
	}
}
